# loops

### Print numbers from 1 to 10 using a for loop.

In [5]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

### Print even numbers from 2 to 20 using range().

In [8]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

### Print "Python is fun" 5 times using a while loop.

In [11]:
count = 1
while count <= 5:
    print("python is fun", count)
    count = count + 1

python is fun 1
python is fun 2
python is fun 3
python is fun 4
python is fun 5

### Print each character in the string "Data Science"

In [14]:
name = "DATA SCIENCE"
for char in name:
    print(char)

D
A
T
A

S
C
I
E
N
C
E

### Print each letter of your name using a loop

In [17]:
name = "CHITHRASHREE"
for char in name:
    print(char)

C
H
I
T
H
R
A
S
H
R
E
E

### Use a while loop to print numbers from 10 to 1

In [20]:
i = 10
while i >= 1:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

### Use a for loop to calculate the sum of numbers from 1 to 100

In [23]:
num=0
for number in range(1, 101):
    num += number
    print(num)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

### Write a loop that asks for numbers from the user and stops when the user enters 0. Use a while loop and break.

In [29]:
while True:
    num=int(input("Enter a number (0 to stop):"))
    print(num)
    if num == 0:
        break
    print(f"{num}")

Enter a number (0 to stop): 44

44
44

Enter a number (0 to stop): 0

0

###  Print numbers from 1 to 10, skipping 5 using a for loop and continue.

In [27]:
for i in range(1,11):
    if(i ==5):
        continue
    print(i)

1
2
3
4
6
7
8
9
10